/* root selector for CSS color variables */
:root {
    --teal: #7abfbf;
    --sky: rgba(122, 191, 191, .5);
    --white: #f2f2f2;
    --black: #0d0d0d;
    --red: #eb5428;
}



* {
    box-sizing: border-box;
}

html {
    background-color: var(--sky);
}

header {
    width: 414px;
    text-align: center;
}

body {
    margin: 0 auto;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    width: 414px;

}

aside {
    background-color: var(--teal);
    width: 414px;
}

/*Fonts*/
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;

}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

h4 {
    display: none;
}

nav a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

nav span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

menu li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

#social li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

footer p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

p,
dd,
li,
nav,
input {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}



/*main*/
main {
    grid-template-rows: 5;
    width: 414px;
}

main img {
    width: 100%;
}

/*SVG icon links*/
#sideMenu li {
    display: inline-flex;
    text-align: center;
}

menu a {
    text-decoration: none;
    color: var(--red);
    margin: 0px 15px 0px 15px;
}

/*main headers*/
main h2 {
    text-align: center;
    margin-top: 10px;
}

#streetTaco p {
    margin: 4px;
    padding: 5px;
}

/*main detail list*/
dl {
    width: 100%;
    padding: 5px;
}

dt {
    float: left;
    width: 30%;
}

dd {
    float: left;
    width: 50%;
    margin: 3px;
}

/*ul ol list spacing*/
.ingredients ul {
    margin: 0;

}

.ingredients li {
    padding: 4px;
}

.directions ol {
    margin: 0;
}


/*aside*/
aside {
    display: grid;
}

aside img {
    width: 40%;
    float: left;
}

aside figcaption {
    width: 50%;
    margin-top: -20px;
    float: right;

}

aside h2 {
    text-align: center;
}

.unchecked {
    color: var(--white);
}

.checked {
    color: var(--red);
}

/*navigation*/
nav {
    border: solid 2px red;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 16px;
    color: var(--red);

}

nav li {
    border: 2px solid blue;



}

nav img {
    width: 25px;
}

nav a {}

.home {
    display: block;
    background-color: var(--red);

}

.avatar {
    text-decoration: none;
}

/*footer*/


h4 {}

/*SVG icon links*/
#social li {
    display: inline-flex;
    text-align: center;
}

#social a {
    text-decoration: none;
    color: var(--red);
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.good img {
    display: block;
    position: relative;
    bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.good p {
    text-align: center;
    position: relative;
    top: 200px;
    margin: 0;

}